// Fonts

$font-family: "Heebo", sans-serif;

// Colors

$black-color: #000;
$white-color: #fff;
$primary: #ff6464;
$secondry: #00a8cc;
$dark: #21243d;
$light: #8695a4;
$sea: #edf7fa;

// Sizes

$container-width: 1020px;
$container-padding: 20px;